@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Hide all sections initially */
.hidden {
    display: none !important;
}

/* Background sections */
.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 25px 25px 0 0;
}

.button {
    background-color: #25b1cc;
    color: white;
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 36px;
}

/* Favourite Section */
.favourite-places-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    background-size: cover;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
}

/* Detailed Views */
.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 30px;
}

.detailed-view-card-container {
    background-color: white;
    border-radius: 8px;
    margin: 24px;
}

.detailed-view-card-description {
    font-size: 18px;
    color: #6c6b70;
}
